%%
%% etc/app.config
%%
{ring_state_dir,        "data/ring"}.
{web_ip,                "127.0.0.1"}.
{web_port,              "8098"}.
{handoff_port,          "8099"}.
{storage_backend,       "ets"}.
{anti_entropy,          {on, [debug]}}.

%%
%% etc/vm.args
%%
{node,                  "basic_db@127.0.0.1"}.
{cookie,                "basic_db"}.

